body {
    text-align:center;
    background-color:rgb(220,240,255);
}
section{
    background-color:white;
    padding:20px;
    border-radius:30px;
    margin:50px;
    display: inline-block;
    filter:drop-shadow(1px 2px 3px gray);
    animation-name: fade;
    animation-iteration-count: 1;
}
input{
    margin:10px;
}

@keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}